In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

# Load data

In [2]:
trade = pd.read_excel('../data/trade.xlsx')
quote = pd.read_excel('../data/quote.xlsx')
nbbo = pd.read_excel('../data/nbbo.xlsx')

In [3]:
trade.head()

,DATE,TIME_M,EX,SYM_ROOT,SYM_SUFFIX,TR_SCOND,SIZE,PRICE,TR_STOPIND,TR_CORR,TR_SEQNUM,TR_SOURCE,TR_RF
0,2013-06-06,09:30:00.766000,N,MUR,NaN,O,6523,62.99,N,0,2140,C,NaN
1,2013-06-06,09:30:31.239000,B,MUR,NaN,@,100,62.98,N,0,5188,C,NaN
2,2013-06-06,09:30:33.071000,J,MUR,NaN,@,100,62.80,N,0,5273,C,NaN
3,2013-06-06,09:30:33.088000,N,MUR,NaN,F,100,62.96,N,0,5274,C,NaN
4,2013-06-06,09:30:33.659000,T,MUR,NaN,Q,10,62.80,N,0,5319,C,NaN

In [4]:
quote.head()

,DATE,TIME_M,EX,SYM_ROOT,SYM_SUFFIX,BID,BIDSIZ,ASK,ASKSIZ,QU_COND,...,QU_SEQNUM,NATBBO_IND,NASDBBO_IND,QU_CANCEL,QU_SOURCE,RPI,SSR,LULD_BBO_CQS,LULD_BBO_UTP,FINRA_ADF_MPID
0,2013-06-06,04:00:00.210000,P,MUR,NaN,59.74,2,0.00,0,R,...,106,1.0,2,NaN,C,NaN,NaN,NaN,NaN,NaN
1,2013-06-06,06:41:12.578000,P,MUR,NaN,59.74,2,66.47,1,R,...,63485,1.0,2,NaN,C,NaN,NaN,NaN,NaN,NaN
2,2013-06-06,06:42:12.021000,P,MUR,NaN,59.75,2,66.47,1,R,...,63961,1.0,2,NaN,C,NaN,NaN,NaN,NaN,NaN
3,2013-06-06,06:42:12.237000,P,MUR,NaN,59.75,2,66.46,2,R,...,63962,1.0,2,NaN,C,NaN,NaN,NaN,NaN,NaN
4,2013-06-06,07:22:12.075000,P,MUR,NaN,59.74,2,66.46,2,R,...,80551,1.0,2,NaN,C,NaN,NaN,NaN,NaN,NaN

In [5]:
nbbo.head()

,DATE,TIME_M,EX,SYM_ROOT,SYM_SUFFIX,BID,BIDSIZ,ASK,ASKSIZ,QU_COND,...,BEST_BID_MM_LOCATION,BEST_BID_MM_DESK_LOCATION,BEST_ASKEX,BEST_ASK,BEST_ASKSIZ,BEST_ASK_MM,BEST_ASK_MM_LOCATION,BEST_ASK_MM_DESK_LOCATION,LULD_NBBO_CQS,LULD_NBBO_UTP
0,2013-06-06,08:00:02.693000,P,MUR,NaN,63.17,3,0.00,0,R,...,NaN,NaN,T,64.25,1,NaN,NaN,NaN,NaN,NaN
1,2013-06-06,08:00:10.788000,P,MUR,NaN,59.74,2,0.00,0,R,...,NaN,NaN,T,64.25,1,NaN,NaN,NaN,NaN,NaN
2,2013-06-06,08:00:29.278000,Z,MUR,NaN,62.36,9,64.24,2,R,...,NaN,NaN,Z,64.24,2,NaN,NaN,NaN,NaN,NaN
3,2013-06-06,08:13:20.821000,Z,MUR,NaN,62.36,9,64.24,2,R,...,NaN,NaN,Z,64.24,2,NaN,NaN,NaN,NaN,NaN
4,2013-06-06,08:13:31.440000,Z,MUR,NaN,62.36,9,64.33,12,R,...,NaN,NaN,T,64.25,1,NaN,NaN,NaN,NaN,NaN

In [6]:
trade.shape

(15062, 13)

In [7]:
quote.shape

(499570, 22)

In [8]:
nbbo.shape

(106540, 33)

In [9]:
list(trade)

['DATE',
 'TIME_M',
 'EX',
 'SYM_ROOT',
 'SYM_SUFFIX',
 'TR_SCOND',
 'SIZE',
 'PRICE',
 'TR_STOPIND',
 'TR_CORR',
 'TR_SEQNUM',
 'TR_SOURCE',
 'TR_RF']

In [11]:
list(quote)

['DATE',
 'TIME_M',
 'EX',
 'SYM_ROOT',
 'SYM_SUFFIX',
 'BID',
 'BIDSIZ',
 'ASK',
 'ASKSIZ',
 'QU_COND',
 'BIDEX',
 'ASKEX',
 'QU_SEQNUM',
 'NATBBO_IND',
 'NASDBBO_IND',
 'QU_CANCEL',
 'QU_SOURCE',
 'RPI',
 'SSR',
 'LULD_BBO_CQS',
 'LULD_BBO_UTP',
 'FINRA_ADF_MPID']

In [12]:
list(nbbo)

['DATE',
 'TIME_M',
 'EX',
 'SYM_ROOT',
 'SYM_SUFFIX',
 'BID',
 'BIDSIZ',
 'ASK',
 'ASKSIZ',
 'QU_COND',
 'MMID',
 'BIDEX',
 'ASKEX',
 'QU_SEQNUM',
 'NATBBO_IND',
 'NASDBBO_IND',
 'QU_CANCEL',
 'QU_SOURCE',
 'NBBO_QU_COND',
 'BEST_BIDEX',
 'BEST_BID',
 'BEST_BIDSIZ',
 'BEST_BID_MM',
 'BEST_BID_MM_LOCATION',
 'BEST_BID_MM_DESK_LOCATION',
 'BEST_ASKEX',
 'BEST_ASK',
 'BEST_ASKSIZ',
 'BEST_ASK_MM',
 'BEST_ASK_MM_LOCATION',
 'BEST_ASK_MM_DESK_LOCATION',
 'LULD_NBBO_CQS',
 'LULD_NBBO_UTP']

# Data

In [19]:
trade_mur = trade.loc[trade['SYM_ROOT'] == 'MUR']
trade_pdco = trade.loc[trade['SYM_ROOT'] == 'PDCO']

In [16]:
quote_mur = quote.loc[quote['SYM_ROOT'] == 'MUR']
quote_pdco = quote.loc[quote['SYM_ROOT'] == 'PDCO']

In [20]:
nbbo_mur = nbbo.loc[nbbo['SYM_ROOT'] == 'MUR']
nbbo_pdco = nbbo.loc[nbbo['SYM_ROOT'] == 'PDCO']

In [21]:
trade_mur.shape

(9312, 13)

In [22]:
trade_pdco.shape

(5750, 13)

In [17]:
quote_mur.shape

(345789, 22)

In [18]:
quote_pdco.shape

(153781, 22)

In [24]:
nbbo_mur.shape

(63383, 33)

In [25]:
nbbo_pdco.shape

(43157, 33)

In [26]:
trade_pdco.head()

,DATE,TIME_M,EX,SYM_ROOT,SYM_SUFFIX,TR_SCOND,SIZE,PRICE,TR_STOPIND,TR_CORR,TR_SEQNUM,TR_SOURCE,TR_RF
9312,2013-06-06,09:29:59.556000,Q,PDCO,NaN,@FT,200,38.19,NaN,0,6427,N,NaN
9313,2013-06-06,09:30:00.395000,Q,PDCO,NaN,@O X,3893,38.48,NaN,0,6751,N,NaN
9314,2013-06-06,09:30:00.395000,Q,PDCO,NaN,Q,3893,38.48,NaN,0,6752,N,NaN
9315,2013-06-06,09:30:00.896000,Q,PDCO,NaN,@F,200,38.19,NaN,0,7319,N,NaN
9316,2013-06-06,09:30:00.896000,Q,PDCO,NaN,@F,100,38.05,NaN,0,7320,N,NaN